.about {
    background-color: var(--theme-btn-primary-color);
    padding-top: var(--space-2rem);
}
.elementor-shape-fill{
    fill: #ffffff
}
.box {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-top: var(--space-14rem);
    padding-bottom: var(--space-4rem);
    padding-left: var(--space-16rem);
    padding-right: var(--space-16rem);
  }
.box-item{
    display: table;
    float: left;
    width: 50%;
    padding: 10px;
    height: 350px;
  }
.elementor-heading-title{
    display: block;  
    color: #312233;
    font-family: "Nunito", Sans-serif;
    font-size: 81px;
    font-weight: 800;
    text-align: left;
  }
.text-data{
    display: block;
    color: #312233;
    font-family: "Nunito", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
  }
.text_2{
    display: block;
    font-size: 20px;
}  
.contract-addr{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-top: var(--space-2rem);
    padding-bottom: var(--space-14rem);
  }
.addr{
    color: #312233;
    font-family: "Nunito", Sans-serif;
    font-size: 33px;
    font-weight: 800;
    line-height: 1.3em;
    letter-spacing: 2.1px;
    text-align: center;
  }